<% include ./partials/header %>

<ul id="messages"></ul>
<form>
	<input type="text" id="nick" placeholder="Name you appear as (default as Anonymous)">
	<input type="text" id="msg" autocomplete="off" placeholder="Type a message" required>
	<button type="submit">Send</button>
</form>

<% include ./partials/footer %>